<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061063039471-qgqm13fnd2aqifrr330nots0ovnn3j9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061063039471-qgqm13fnd2aqifrr330nots0ovnn3j9a</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMLASXuCQ38iAnbWFr30P1VKcCekSlPg</string>
	<key>GCM_SENDER_ID</key>
	<string>1061063039471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hardsys.Tarefas-Diarias</string>
	<key>PROJECT_ID</key>
	<string>tarefas-diarias-1f55e</string>
	<key>STORAGE_BUCKET</key>
	<string>tarefas-diarias-1f55e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061063039471:ios:95617751e15bec6827fe1a</string>
</dict>
</plist>